*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden !important;
}

.bg-nav{
    background-color: #1A2130; 
}

.text-color,
.nav-link{
    color: #FFCC00;  
}
 
.text-color:hover,
.text-color:focus,
.nav-link.active,
.nav-link:focus,
.nav-link:hover,
.show{
    color: #FFCC00 !important; 
}

.navbar-brand{
    font-family: "Kanit", sans-serif;
    font-weight: 400; 
    font-size: 2rem;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.navbar-toggler-icon{
    background-color: white;
}

.title-text{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    letter-spacing: 5px;
}

.home-img{
    background-image: url('./assets/home-bg.png') !important;
    background-size: cover;
}

.sub-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    color: white; 
}

.bg-yellow{
    background-color: #FFCC00;
}

.gen-title{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.gen-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.intro-card{
    height: 400px;
}

.featured-card{
    width: 350px;
}

.title{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.carousel-card{
    width: 50%;
}

/* Tablet */
@media screen and (max-width: 770px){
    .title-text{
        font-size: 2.5rem;
        letter-spacing: normal;
    }
    .sub-text{
        font-size: 0.8rem;
    }

    .intro-card{
        height: auto;
    }

    .carousel-card{
        width: 90%;
    }
}

/* Mobile */
@media screen and (max-width: 576px){
    .title-text{
        font-weight: 500;
        font-size: 2rem;
    }

    .sub-text{
        display: none;
    }

    .featured-card{
        height: 100%;
    }

    .mission-card{
        display: none !important;
    }

}